<h2>{{user_id}}</h2>
<div *ngIf="!!game">
  <div *ngFor="let user of game.opponents;let i = index;">
    <h3 [ngClass]="{'user_active': user.index == game.current_player_index}">Oponnent: {{i + 1}}</h3>
    <h4>Cards in hand: {{user.getCardsCount()}}</h4>
    <div class="table">
      <div *ngFor="let monster of user.table.monsters" class="monster"
           [ngClass]="{'monster__butcher_available': game.isButcherAvailable(monster),
                      'monster__scavenger_available': game.isScavengerAvailable(monster)}"
           (click)="game.butcher(monster);game.scavenger(monster)">
        <div *ngFor="let part of monster.parts">
          <div class="card"
               [ngClass]="'monster__' + part"
               *ngIf="!monster.hasPart(part)">
          </div>
          <div *ngIf="monster.hasPart(part)">
            <div class="card"
                 [ngClass]="[monster.getPart(part).getLegionClass(part), monster.getPart(part).getSkillClass()]">
              <div class="card__parts">
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_head}"></div>
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_body}"></div>
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_legs}"></div>
              </div>
              <div>
                {{monster[part].skill && monster[part].skill.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3 [ngClass]="{'user_active': game.isMyTourn()}">User</h3>
    <h4 *ngIf="game.isMyTourn()">
      Step: {{game.current_step + 1}}
      <span *ngIf="game.skill_action">(skill: {{game.skill_action}})</span>
    </h4>
    <div class="table">
      <div *ngFor="let monster of game.user.table.monsters" class="monster"
           [ngClass]="{'monster__devourer_available': game.isDevourerAvailable(monster)}"
           (click)="game.devourer(monster)">
        <div *ngFor="let part of monster.parts"
             [ngClass]="{'card__allow_drop': monster.allowAddCard(dragged_card, part),
             'card__not_allow_drop': dragged_card && !monster.allowAddCard(dragged_card, part)}">
          <div class="card"
               [ngClass]="'monster__' + part"
               (dragenter)="handleDragEnter($event, monster, part)"
               (dragover)="handleDragOver($event)"
               (dragleave)="handleDragLeave($event)"
               (drop)="handleDrop($event, monster, part)"
               *ngIf="!monster.hasPart(part)">
          </div>
          <div *ngIf="monster.hasPart(part)">
            <div class="card"
                 [ngClass]="[monster.getPart(part).getLegionClass(part), monster.getPart(part).getSkillClass()]">
              <div class="card__parts">
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_head}"></div>
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_body}"></div>
                <div class="card__part" [ngClass]="{'card__part--active': monster.getPart(part).is_legs}"></div>
              </div>
              <div>
                {{monster[part].skill && monster[part].skill.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4>Hand</h4>
    <div class="hand">
      <div *ngFor="let card of game.user.hand.cards"
           class="card"
           [ngClass]="[card.getLegionClass(), card.getSkillClass()]"
           [draggable]="game.isMyTourn()"
           (dragstart)="handleDragStart($event, card)"
           (dragend)="handleDragEnd($event)">
        <div class="card__parts">
          <div class="card__part" [ngClass]="{'card__part--active': card.is_head}"></div>
          <div class="card__part" [ngClass]="{'card__part--active': card.is_body}"></div>
          <div class="card__part" [ngClass]="{'card__part--active': card.is_legs}"></div>
        </div>
        <div>
          {{card.skill && card.skill.name}}
        </div>
      </div>
    </div>
    <h4>Singer</h4>
    <div class="hand">
      <div *ngFor="let card of game.singer_cards"
           class="card"
           [ngClass]="[card.getLegionClass(), card.getSkillClass()]"
           [draggable]="game.isMyTourn()"
           (dragstart)="handleDragStart($event, card)"
           (dragend)="handleDragEnd($event)">
        <div class="card__parts">
          <div class="card__part" [ngClass]="{'card__part--active': card.is_head}"></div>
          <div class="card__part" [ngClass]="{'card__part--active': card.is_body}"></div>
          <div class="card__part" [ngClass]="{'card__part--active': card.is_legs}"></div>
        </div>
        <div>
          {{card.skill && card.skill.name}}
        </div>
      </div>
    </div>
    <button (click)="game.actionGetCard()" [disabled]="!game.isMyTourn()">Get card</button>
  </div>
</div>

<div  *ngIf="!game">
  <h1>Game list</h1>
  <button (click)="createGame()" [disabled]="getGame()">Create game</button>
  <div></div>
  <div *ngFor="let game of game_list" class="game_prepeareing"
       [ngClass]="{'game_prepeareing--joined': game.players.indexOf(user_id) != -1,
       'game_prepeareing--ready': game.players.indexOf(user_id) != -1 && game.players.length == game.max_users}">
    <div>id: {{game.game_id}}</div>
    <div>status: {{game.game_status}}</div>
    <div>
      Players:
      <div *ngFor="let player of game.players">{{player}}</div>
    </div>
    <button (click)="joinGame(game.game_id)" *ngIf="!getGame()">Join</button>
    <button (click)="leaveGame(game.game_id)" *ngIf="game.players.indexOf(user_id) != -1">Leave</button>
    <button (click)="startGame(game.game_id)" *ngIf="game.players.indexOf(user_id) != -1 && game.players.length == game.max_users">Start</button>
  </div>
</div>

