.table {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monster {
  display: inline-block;
}

.card {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: gray;
}

.hand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__legion--red {
  background: linear-gradient(to top right, #ffffff 0%, rgba(255, 0, 0, 0.5) 70%, #ff0000 100%);
}

.card__legion--green {
  background: linear-gradient(to top right, #ffffff 0%, rgba(0, 255, 0, 0.5) 70%, #00ff00 100%);
}

.card__legion--blue {
  background: linear-gradient(to top right, #ffffff 0%, rgba(0, 0, 255, 0.5) 70%, #0000ff 100%);
}

.card__legion--yellow {
  background: linear-gradient(to top right, #ffffff 0%, rgba(255, 255, 0, 0.5) 70%, #ffff00 100%);
}

.card__parts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 5px;
}

.card__part {
  flex-grow: 1;
  border: 1px solid black;
  border-left: 0;
}

.card__part:first-child {
  border-top: 0;
}

.card__part:last-child {
  border-bottom: 0;
}

.card__part--active {
  background-color: black;
}

.card.card__drag--over {
  background-color: rgba(173, 255, 47, 0.3);
}

.card__allow_drop {
  border-color: green;
}

.card__not_allow_drop {
  opacity: 0.3;
}

.game_prepeareing {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
}

.game_prepeareing--joined {
  background-color: lightskyblue;
}

.game_prepeareing--ready {
  background-color: lightgreen;
}

.user_active {
  color: lime;
}

.monster__devourer_available, .monster__butcher_available, .monster__scavenger_available {
  border: 2px solid red;
}
